/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3;
}
@media (min-width: 64em) {
  body {
    font-size: 1.1em;
    line-height: 1.43;
  }
}
@media (min-width: 85.375em) {
  body {
    font-size: 1.2em;
  }
}
@media (min-width: 120em) {
  body {
    font-size: 1.3em;
  }
}
@media (min-width: 160em) {
  body {
    font-size: 1.5em;
  }
}

.heading-secondary {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #7625fb;
  font-weight: 600;
}

.heading-tertiary {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #fff;
  font-weight: 600;
}

.text {
  font-size: 0.9em;
}

.text-paragraph {
  margin-bottom: 1em;
}

.nav {
  margin-top: 2em;
}
@media all and (max-width: 30em) {
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0;
  }
}
.nav__icon {
  color: #7625fb;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1%;
  display: none;
}
.nav__icon--active {
  color: #fff;
}
@media all and (max-width: 30em) {
  .nav__icon {
    display: block;
  }
}
.nav__list {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 30em) {
  .nav__list {
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(118, 37, 251, 0.86);
  }
}
@media all and (max-width: 30em) {
  .nav__list--show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.nav__item {
  padding-right: 2em;
}
@media all and (max-width: 30em) {
  .nav__item {
    padding-right: 0;
    text-align: center;
  }
}
.nav__link {
  color: #fff;
}
@media all and (max-width: 30em) {
  .nav__link {
    color: #fff;
    font-weight: 600;
  }
}

.social {
  width: 3%;
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}
@media all and (max-width: 63.75em) {
  .social {
    width: 5%;
  }
}
@media all and (max-width: 45em) {
  .social {
    width: 8%;
  }
}
@media all and (max-width: 30em) {
  .social {
    width: 10%;
  }
}
.social__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social__item {
  flex: 1;
  opacity: 0.6;
  width: 100%;
  padding: 10%;
  cursor: pointer;
  transition: 0.6s all ease-in-out;
}
.social__item:hover {
  opacity: 1;
}
.social__img {
  width: 100%;
  max-width: 2.5rem;
}

.form {
  font-size: 0.85em;
}
.form__label {
  margin-top: 2em;
}

.button {
  width: 100%;
  height: 2.8em;
  display: block;
  margin-top: 10%;
  background: #fff;
  color: #7625fb;
  border-radius: 44em;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-weight: 600;
  transition: 0.6s all ease-in-out;
}
@media all and (max-width: 45em) {
  .button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 30em) {
  .button {
    width: 100%;
  }
}
.button:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 94%;
  height: 80vh;
  min-height: 16em;
  position: relative;
  margin: 0 auto;
  background: url(../assets/herobanner.jpg);
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 63.75em) {
  .header {
    width: 90%;
  }
}
@media all and (max-width: 45em) {
  .header {
    width: 84%;
  }
}
@media all and (max-width: 30em) {
  .header {
    width: 80%;
  }
}
.header__title {
  font-size: 3.5em;
  font-family: "Work Sans", sans-serif;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0.05em;
  z-index: 1;
  color: #7625fb;
  font-weight: 600;
  line-height: 1.5;
  background: url(../assets/now.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}
@media all and (max-width: 30em) {
  .header__title {
    font-size: 2em;
    padding: 1.5rem;
  }
}

.container {
  width: 70%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0;
}
@media all and (max-width: 45em) {
  .container {
    width: 80%;
  }
}

.intro {
  background: #f2f2f2;
  margin-top: 2%;
}
.intro__wrapper {
  display: flex;
}
@media all and (max-width: 45em) {
  .intro__wrapper {
    flex-direction: column;
  }
}
.intro__text {
  flex: 1;
  margin-right: 2%;
}
.intro__img {
  flex: 1;
  margin-left: 2%;
  background: url(../assets/about-img.jpg);
  background-size: cover;
  background-position: center right;
}
@media all and (max-width: 45em) {
  .intro__img {
    min-height: 20rem;
    height: 70%;
    width: 70%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 30em) {
  .intro__img {
    width: 100%;
    height: 100%;
  }
}

.gallery {
  display: flex;
}
@media all and (max-width: 45em) {
  .gallery {
    flex-direction: column;
  }
}
.gallery__heading {
  flex: 1;
}
.gallery__text {
  flex: 4;
  margin-left: 2%;
}
@media all and (max-width: 45em) {
  .gallery__text {
    margin-left: 0;
  }
}

.hours {
  background: url("../assets/panel.jpg");
  background-size: cover;
  height: 50vh;
  min-height: 11em;
  position: relative;
}
.hours__text {
  font-size: 1.2em;
  color: #fff;
  position: absolute;
  bottom: 20%;
}

.bg-gradient {
  background: #e3d9f4;
  background: -moz-linear-gradient(top, #e3d9f4 0%, #7d31fc 100%);
  background: -webkit-linear-gradient(top, #e3d9f4 0%, #7d31fc 100%);
  background: linear-gradient(to bottom, #e3d9f4 0%, #7d31fc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d9f4', endColorstr='#7d31fc',GradientType=0 );
}

.services {
  display: flex;
  color: #fff;
}
@media all and (max-width: 45em) {
  .services {
    flex-direction: column;
  }
}
.services__list {
  flex: 2;
}
.services__item {
  padding: 3% 0;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-size: 0.9em;
}
.services__description {
  flex: 3;
  margin-left: 10%;
}
@media all and (max-width: 45em) {
  .services__description {
    margin-left: 0;
    margin-top: 2em;
  }
}
.services__img {
  float: left;
  padding: 2% 2% 2% 0;
  width: 40%;
}
@media all and (max-width: 30em) {
  .services__img {
    float: none;
    width: auto;
  }
}

.contact {
  padding-top: 0;
}
.contact__wrapper {
  display: flex;
  color: #fff;
}
@media all and (max-width: 45em) {
  .contact__wrapper {
    flex-direction: column;
  }
}
.contact__form {
  flex: 2;
}
.contact__article {
  flex: 3;
  margin-top: 2em;
  margin-left: 10%;
}
@media all and (max-width: 45em) {
  .contact__article {
    margin-left: 0;
  }
}

.footer {
  background: #7d31fc;
}
.footer__container {
  padding: 2% 0;
}
.footer__text {
  font-size: 0.75em;
  color: #fff;
}

.form__label, .form__input, .form__textarea {
  display: block;
  width: 100%;
  height: 1.5em;
}

.form__input, .form__textarea {
  background: none;
  border: 0;
  border-bottom: 1px solid #fff;
  line-height: 1;
}

/*# sourceMappingURL=main.css.map */
