$color-violet: #7625fb;

//media breakpoints

$media-large-size: "all and (max-width: 63.75em)";//1020px
$media-medium-size: "all and (max-width: 45em)";//720px
$media-small-size: "all and (max-width: 30em)";//480px