.social{
	width: 3%;
	position: fixed;
	left:0;	
	top:50%;
	z-index: 10;
	transform: translateY(-50%);
	
	
	@media #{$media-large-size}{
		width:5%;
		
	}
	@media #{$media-medium-size}{
		width:8%;
		
	}
	@media #{$media-small-size}{
		width:10%;
		
	}

	&__list{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__item{
		flex: 1;
		opacity: 0.6;
		width: 100%;
		padding: 10%;
		cursor: pointer;
		@include transition;
		
		&:hover{
			opacity: 1;	
		}
	}
	&__img{
		width:100%;
		max-width: 2.5rem;		
	
	}

}