.nav{
	margin-top:2em;
	
	@media #{$media-small-size}{
		position: fixed;
		top:0;
		width: 100%;		
		z-index: 100;
		margin:0;
		
		
	}
	 
	
	&__icon {
		color: $color-violet;
		position: fixed;
		top:0;
		left: 0;
		padding: 1%;
		display: none;
		
		&--active{
			color: #fff;
		}
		
		@media #{$media-small-size}{
			display: block;
		}
		
	}
	
	&__list{
		display: flex;
		justify-content: center;
		
		
		
		
		@media #{$media-small-size}{			
			display: none;
			height: 100vh;
			width: 100%;
			background:rgba(118, 37, 251, 0.86);
			
			
			
  		}
		&--show{
			@media #{$media-small-size}{
				display: flex;
				flex-direction: column;
				justify-content: space-around;	
				
			}
		
	}
}
	
	&__item{		
		padding-right: 2em;	
		
		@media #{$media-small-size}{
			padding-right: 0;
			text-align: center;
			
			
		}
	}
	
	&__link{
		color: #fff;
		
		@media #{$media-small-size}{
			color:#fff;	
			font-weight: 600;
		}
	}
}